[submodule "sm/ONL"]
	path = sm/ONL
	url = https://github.com/ksandeep-palc/OpenNetworkLinux-oopt.git
    branch = kernel_upgrade
[submodule "sm/sonic-buildimage"]
	path = sm/sonic-buildimage
	url = https://github.com/sonic-net/sonic-buildimage.git
    branch = 202205
